{{>layout/header}}
<h1 class="h3 mb-2 text-gray-800">Add application</h1>
<form name="app" action="/admin/apps/add" method="POST">
  <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="please enter the name of the application ">
  </div>
  <input type="submit" class="btn btn-primary" value="add" style="width: 80px" />
</form>
{{>layout/footer}}