{{>layout/header}}
<div class="intro-message">
    <h1 class="h3 mb-2 text-gray-800">Hello and weclome to your ticket management app.</h1>
    <h3>Discover the different functionalities in the navbar.</h3>
</div>

{{>layout/footer}}